
/* html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
} */
